<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603939798895-tntmcc3495tcg89k2o31enc45o7j3dk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603939798895-tntmcc3495tcg89k2o31enc45o7j3dk9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603939798895-098njoe1eaoivp2l3grdn7n4uh9enqt5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4ay9pcQwdorruePZMqezLd7LuiUhtQyI</string>
	<key>GCM_SENDER_ID</key>
	<string>603939798895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.malApp</string>
	<key>PROJECT_ID</key>
	<string>mal-app-450a8</string>
	<key>STORAGE_BUCKET</key>
	<string>mal-app-450a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603939798895:ios:425b8655914d3f9452b29a</string>
</dict>
</plist>